<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!--<CustomFileTag>-->
	 <import resource="classpath:com/eyoubika/sbc/sbcContext.xml" />
    <import resource="classpath:com/eyoubika/common/commonContext.xml" />
    <import resource="classpath:com/eyoubika/system/systemContext.xml" />
    <import resource="classpath:com/eyoubika/user/userContext.xml" />
    <import resource="classpath:com/eyoubika/spider/spiderContext.xml" />
    <import resource="classpath:com/eyoubika/info/infoContext.xml" />
     <import resource="classpath:com/eyoubika/batch/batchContext.xml" />
    <import resource="classpath:com/eyoubika/model/modelContext.xml" />
     <import resource="classpath:com/eyoubika/platform/platformContext.xml" />
    <!--<CustomFileTag>-->
</beans>
